/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
  margin: 5px;
}
